.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.modal__close {
  position: absolute;
  background: transparent;
  right: -40px;
  top: -40px;
  width: 40px;
  height: 40px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.4s;
  padding: 0;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 34px 35px;
  min-width: 496px;
  box-sizing: border-box;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  color: #1a1b22;
  margin: 0 0 22px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  color: #2f71e5;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.modal__input {
  display: block;
  /* block elements stretch entire width of parent container by default */
  width: 100%;
  margin-bottom: 31px;
  margin-top: 9px;
  padding: 9px 0 9px 3px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.modal__submit {
  border-radius: 100px;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
  background-color: #2f71e5;
  color: #fff;
  cursor: pointer;
  padding: 20px 115px;
  border: none;
  transition: background-color 0.4s;
  font-weight: 500;
  margin-top: 8px;
}

.modal__submit:hover {
    background-color: #347eff;
}
