.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid rgba(196, 196, 196, 0.4);
  padding: 19px 104px 13px;
  margin: 0;
  position: relative;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  line-height: 1.2;
  margin: 0;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
