.navbar {
    display: flex;
    position: relative;
    align-items: center;
    gap: 42px;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.nav__home {
    border-bottom: 3px solid #fff;
}

.nav__button_signin {
    padding: 13px 60px;
    border-radius: 100px;
    font-weight: 500;
    background: none;
    cursor: pointer;
    border: #fff;
    color: #fff;
    border: 1px solid #fff;
}