.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-left {
    display: flex;
}

.navbar-right {
    display: flex;
    gap: 54px;
}

.navbar_logo {
    color: white;
    font-weight: 700;
    font-style: 25px;
    cursor: pointer;
}

.navbar_home {
    color: white;
    font-weight: 500;
    font-style: 17px;
}

.navbar_signin {
    color: white;
    font-weight: 500;
    padding: 0;
    font-style: 18px;
}