.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height of element is equal to 100% of the height of the browser window */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__content {
  max-width: 1360px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 30px auto auto;
  width: 100%;
  padding: 0;
}
